.container {
    margin: 20px;
}

.center {
    text-align: center;
    margin-top: 50px;
}

table, th, td {
    border: 0px solid black;
}

th {
    background-color: rgb(213, 154, 149);
}

td {
    background-color: rgb(253, 214, 211);
}

.master-container {
    display: flex;
}

.divider {
    flex: 1;
}

.help {
    display: block
}

.btn {
    background-color: rgb(204, 164, 114);
    border-radius: 10%;
    color: black;
}